<div id="<%= dom_id bike_ride %>">
  <p>
    <strong>Kilojoules:</strong>
    <%= bike_ride.kilojoules %>
  </p>

  <p>
    <strong>Total elevation gain:</strong>
    <%= bike_ride.total_elevation_gain %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= bike_ride.distance %>
  </p>

  <p>
    <strong>Average heartrate:</strong>
    <%= bike_ride.average_heartrate %>
  </p>

  <p>
    <strong>Average watts:</strong>
    <%= bike_ride.average_watts %>
  </p>

  <p>
    <strong>Moving time:</strong>
    <%= bike_ride.moving_time %>
  </p>

  <p>
    <strong>Weighted average watts:</strong>
    <%= bike_ride.weighted_average_watts %>
  </p>

  <p>
    <strong>Average cadence:</strong>
    <%= bike_ride.average_cadence %>
  </p>

  <p>
    <strong>Average speed:</strong>
    <%= bike_ride.average_speed %>
  </p>

  <p>
    <strong>Elapsed time:</strong>
    <%= bike_ride.elapsed_time %>
  </p>

  <p>
    <strong>Prediction:</strong>
    <%= bike_ride.prediction %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bike_ride.user_id %>
  </p>

</div>
